@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

:root {
  --color-primary: #2563eb;
  --color-primary-content: #ffffff;
  --color-secondary: #f000b8;
}

@theme {
  --color-primary: #2563eb;
}
